body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #00fa15;
}

p {
  color: #00ccff;
}

button {
  padding: 10px 20px;
  background-color: #00ff37;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00b309;
}
